
.backtop {
    top: 0% !important;
    opacity: 1 !important;
}

.overhide {
    overflow: hidden;
}

.fadeaway {
    opacity: 0;
    height: 0px;
    padding: 0px;
    marign: 0px;
}

#center-content {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    will-change: top, left, transform;
}

.restcenter {
    top: 0% ;
    transform: translate(-50%, 0%);
    left: 50%;
    margin: 0px auto;
}

.restcenter img {
    width: 30% !important;
    height: 30% !important;
}

@-webkit-keyframes slideup {
    from {position: absolute !important; top: 45%; left: 50%; transform: translate(-50%, -50%);}
    to {position: relative !important; top: 0%; left: 50%; transform: translate(-50%, 0%);}
}

#center-content img {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    will-change: height, width;
}

#center-body {
    width: 50%;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #1f1e21;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    will-change: transform, opacity;
    margin-bottom: 40px;
    display: table;
    -webkit-animation: fadein 0.5s;
}

#content-section {

}
/*#title {
    position: relative;
    margin-bottom: 20px;
    font-family: 'open sans';
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    line-height: 1.2;
    text-shadow: 0 0 0.07em white;
    padding-bottom: 2px;
    text-decoration: none;
} */

#title::after{
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 1px;
    width: 100%;
    background: white;
    background: -webkit-linear-gradient(left, transparent 0%,#fff 50%,transparent 100%);
    background: -moz-linear-gradient(left, transparent 0%,#fff 50%,transparent 100%);
    background: -o-linear-gradient(left, transparent 0%,#fff 50%,transparent 100%);
    background: linear-gradient(left, transparent 0%,#fff 50%,transparent 100%);
}

#title-description {
    height: 67px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.title {
    font-family: 'open sans';
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    line-height: 1.2;
    text-shadow: 0 0 0.07em white;
}

.minishot {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 6px 20px 0px;
    opacity: 1;
    width: 30%;
    height: 30%;
}
#explore {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

#explore .helper {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left,#ff5e3a 0,#ff2a68 100%);
    background-image: -moz-linear-gradient(left,#ff5e3a 0,#ff2a68 100%);
    background-image: -o-linear-gradient(left,#ff5e3a 0,#ff2a68 100%);
    background-image: linear-gradient(to right,#ff5e3a 0,#ff2a68  100%);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: -1;
    opacity: 0;
    -webkit-transition: height .6s, opacity 0.3s;
    -moz-transition: height .6s, opacity 0.3s;
    -o-transition: height .6s, opacity 0.3s;
    transition: height .6s, opacity 0.3s;
}

/*#explore:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0,0,0,0.5);
}*/

#explore:hover .helper {
    height: 300px;
    opacity: 1;
}

.description {
    color: #a2a2a2;
    font-family: 'open sans';
    display: table;
    width: 100%;
}

#social span {

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
}

#social img path {
    fill: #ffffff !important;
}

#social span:hover {
    cursor :pointer;
   opacity: 1.0;
}

#headshot {
    opacity:0;
    -moz-transition: opacity 2s; /* Firefox 4 */
    -webkit-transition: opacity 2s; /* Safari and Chrome */
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

#background {
    background: url('../img/min/oregon.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    top: 100%;
    position: absolute;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    will-change: transform, opacity;
    opacity: 0;
    z-index: -1;
}

#ide {
    width: 50%;
    min-width: 950px;
    height: auto;
    margin: 0px auto;
    border-radius: 3px;
    display: table;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.6);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    will-change: opacity;
    -webkit-animation: fadein 0.5s;
}
#ide .top {
    width: 100%;
    background: rgba(65, 66, 58, 1);
    display: table;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#ide .editor {
    display: table;
    width: 100%;
    height: 300px;
    font-size: 1em;
}
#ide .button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#ide .red {
    margin-left: 15px;
    background: #F44336;
}

#ide .yellow {
  background: #FFC107;
}

#ide .green {
  background: #4CAF50;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
