

.technology {
    font-family: 'open sans';
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    line-height: 1.2;
    text-shadow: 0 0 0.07em white;
    clear: both;
    float: left;
    font-size: 1.5em;
    padding: 10px;
    width: 30%;

}
.technology span {
    font-size: 1.7em;
}
.tech-description {
    float: left;
    padding: 10px;
    width: 60%;
}

#center-body .devicons {
    color: rgba(255, 255, 255, 07);
    font-size: 3em;
    padding:  10px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
}
#center-body .devicons:hover {
    opacity: 0.6;
}

.tech-description .buzz {
    color: rgb(255, 255, 255);
}

.tech-section {
    display: table;
    width: 100%;
    border-top: solid 1px #313032
}
