<div id="about">
<div class="abouttitle"> Web &middot; Developer</div>
<div id="ide">
    <div class="top"><div class="red button"></div><div class="yellow button"></div><div class="green button"></div></div>
    <div id="monokai" class="editor">/* The making of a software developer */
    var Valenciana = function(){
    this.personality = [
        {Developer: "Full Lamp Stack Web Development"},
        {Designer: "Advocate for UI/UX best practices and fast rendering"},
        {Contributor: "Sharing what you know to improve an open source web"},
        {Dreamer: "Improve the world through the use of technology"}
            ];
      }
    var Dominic = new Valenciana;
    </div>
</div>
<div class="abouttitle" style="text-align:right;margin: 0px auto 10px auto;">Designer ¬</div>
</div>
<div id="realcontent">
<div id="desc-img"class="description-block">
  <img src="http://i.imgur.com/7RFJIk8.jpg"><br>
  Resident of Colorado Springs. Hawaii Native. Green Tea addict. Big brother. Phone junkie. Aspiring programming master mind.
</div>
<div id="whatido" class="description-block" style="font-size: 1.2em;">
  <span style="font-size: 1.5em;">What can I do for you?</span><br><br>
    <span style="font-size: 16px; font-weight: normal; display: block; width: 400px;">With long history of web development I can handle any challenge thrown my way, learn quickly and adapt to produce amazing end products.</span>
  <div>
    <i class="material-icons">check</i> Build a new website<br>
    <i class="material-icons">check</i> Create extensions and themes for any platform<br>
    <i class="material-icons">check</i> Update exisiting websites <br>
    <i class="material-icons">check</i> Implement beutiful designs <br>
    <i class="material-icons">check</i> Make a website mobile compatible <br>
    <i class="material-icons">check</i> Make use of modern industry standards
  </div>
</div>


<div class="description-block">
  <span style="font-size: 1.5em;">What can I work with?</span><br><br>
  <span style="font-size: 16px; font-weight: normal; display: block; width: 400px;"> With a strong base knowledge of most things web I'm quick to pick up new technologies and concepts.</span>
  <div>
    <i class="material-icons">check</i> Javascript - Grunt/Jquery/Node.js/Angular/Backbone/Bower/etc.. <br>
    <i class="material-icons">check</i> CSS - Responsive web design and preproccessors such as Sass/Less<br>
    <i class="material-icons">check</i> Php - Objected oriented and MVC frameworks including Slim/Phalcon/Laravel <br>
    <i class="material-icons">check</i> Database - Large scale databases using MySQL <br>
    <i class="material-icons">check</i> Design - Design by google design standards<br>
    <i class="material-icons">check</i> Other - 60fps animations, fast page rendering, SEO, MVC and REST
  </div>
</div>
</div>
<div id="bottom-section">

</div>
