<div class="abouttitle" style="margin: 30px auto 10px auto;"> Web &middot; Developer</div>
<div id="ide">
    <div class="top"><div class="red button"></div><div class="yellow button"></div><div class="green button"></div></div>
    <div id="monokai" class="editor">/* The making of a software developer */
    var Valenciana = function(){
    this.personality = [
        {Developer: "Full Lamp Stack Web Development"},
        {Designer: "Advocate for UI/UX best practices and fast rendering"},
        {Contributor: "Sharing what you know to improve an open source web"},
        {Dreamer: "Improve the world through the use of technology"}
            ];
      }
    var Dominic = new Valenciana;
    </div>
</div>
<div class="abouttitle" style="text-align:right;margin: 10px auto 10px auto;">Designer ¬</div>
<div>
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</div>
