<div id="skill-body">

    <div class="description">
        <a target="_blank" href="https://www.tumblr.com/theme/39437">
            <div id="picture-perfect" class="project" style="background-image: url('img/min/picture-perfect.png'); border-top-left-radius: 3px;">
                <div class="proj-name">Picture Perfect</div>
                <img src="css/material/openbrowser.svg">
                <div>A customizable theme used by more than 2,200 websites!</div>
                <span class="helper"></span>
            </div>
        </a>

        <a target="_blank" href="https://www.tumblr.com/theme/39441">
            <div id="lateral" class="project" style="background-image: url('img/min/lateral.png');">
                <div class="proj-name">Lateral</div>
                <img src="css/material/openbrowser.svg">
                <div>A customizable theme used by 500 websites!</div>
                <span class="helper"></span>
            </div>
        </a>

        <a target="_blank" href="https://www.tumblr.com/theme/39421">
            <div id="clean-paper" class="project" style="background-image: url('img/min/clean-paper.png');">
                <div class="proj-name">Clean Paper</div>
                <img src="css/material/openbrowser.svg">
                <div>A customizable theme used by more than 300 websites!</div>
                <span class="helper"></span>
            </div>
        </a>

        <a target="_blank" href="https://www.tumblr.com/theme/39431">
            <div id="simply-horizon" class="project" style="background-image: url('img/min/simply-horizon.png'); border-top-right-radius: 3px;">
                <div class="proj-name">Simple Horizon</div>
                <img src="css/material/openbrowser.svg">
                <div>A customizable theme used by more than 50 websites!</div>
                <span class="helper"></span>
            </div>
        </a>

        <a target="_blank" href="http://elcie.com/">
            <div id="elcie" class="project" style="background-image: url('img/min/elcie.jpg'); border-bottom-left-radius: 3px;">
                <div class="proj-name">eLCie</div>
                <img src="css/material/openbrowser.svg">
                <div>Design I've implemented doubling eLCie's views!</div>
                <span class="helper"></span>
            </div>
        </a>
        <a target="_blank" href="https://chrome.google.com/webstore/detail/trollbook/oficohkggchlkdgfdjoefhlhnpimjnaf?hl=en-US">
            <div id="trollbook" class="project" style="background-image: url('img/min/trollbook.png');">
                <div class="proj-name">Trollbook</div>
                <img src="css/material/openbrowser.svg">
                <div>A chrome extension actively used by a community of more than 17,000 people!</div>
                <span class="helper"></span>
            </div>
        </a>
        <a target="_blank" href="http://dev.boostnote.net/">
            <div id="dreamnote" class="project" style="background-image: url('img/min/dream-note.jpg');">
                <div class="proj-name">Dream Note</div>
                <img src="css/material/openbrowser.svg">
                <div>A large scale single page social network built from scratch!</div>
                <span class="helper"></span>
            </div>
        </a>
        <a target="_blank" href="http://www.onlywallz.com">
            <div id="onlywallz" class="project" style="background-image: url('img/min/only-wallz.jpg'); border-bottom-right-radius: 3px;">
                <div class="proj-name">Only Wallz</div>
                <img src="css/material/openbrowser.svg">
                <div>A single page web application that dynamically loads user generated content!</div>
                <span class="helper"></span>
            </div>
        </a>
    </div>
</div>