<div id="center-content" class="center-content" style="">
  <div id="title"><a href="welcome">Dominic Valenciana</a></div>
  <a href="welcome">
    <img id="headshot" onload="this.style.opacity='1';" src="http://i.imgur.com/c3P9Bgy.jpg" style="height: 200px; width: 200px; border-radius:50%; box-shadow: 0 6px 20px 0 rgba(0,0,0,.19); position:relative;">
  </a>
  <div id="title-description">
    <span class="rotate">Developer</span>
  </div>
  <a href="about">
  <div id="explore">
      <span class="helper"></span>Explore
  </div>
</a>
  <div id="social">
      <span class="devicons devicons-codepen"></span>
      <span class="devicons devicons-stackoverflow"></span>
      <span class="devicons devicons-github_badge"></span>
      <span class="devicons devicons-bitbucket"></span>
      <span class="devicons devicons-npm"></span>
  </div>
</div>
