<div id="ide">
    <div class="top"><div class="red button"></div><div class="yellow button"></div><div class="green button"></div></div>
    <div id="monokai" class="editor">/* The making of a software developer */
    var Valenciana = function(){
    this.personality = [
        {Developer: "Full Lamp Stack Web Development"},
        {Designer: "Advocate for UI/UX best practices and fast rendering"},
        {Contributor: "Sharing what you know to improve an open source web"},
        {Dreamer: "Improve the world through the use of technology"}
            ];
      }
    var Dominic = new Valenciana;
    </div>
</div>
