<div id="center-body" ng-controller="SkillsController as skill">
    <span class="devicons devicons-bitbucket" ng-mouseover="skill.setSkill('Bitbucket')" width="50" height="50"></span>
    <span class="devicons devicons-github" ng-mouseover="skill.setSkill('Github')" width="50" height="50"></span>
    <span class="devicons devicons-html5" ng-mouseover="skill.setSkill('HTML5')" width="50" height="50"></span>
    <span class="devicons devicons-css3" ng-mouseover="skill.setSkill('CSS3')" width="50" height="50"></span>
    <span class="devicons devicons-javascript" ng-mouseover="skill.setSkill('Javascript')" width="50" height="50"></span>
    <span class="devicons devicons-jquery" ng-mouseover="skill.setSkill('JQuery')" width="50" height="50"></span>
    <span class="devicons devicons-jquery_ui" ng-mouseover="skill.setSkill('JQuery UI')" width="50" height="50"></span>
    <span class="devicons devicons-angular" ng-mouseover="skill.setSkill('Angular')" width="50" height="50"></span>
    <span class="devicons devicons-backbone" ng-mouseover="skill.setSkill('Backbone')" width="50" height="50"></span>
    <span class="devicons devicons-php" ng-mouseover="skill.setSkill('PHP')" width="50" height="50"></span>
    <span class="devicons devicons-laravel" ng-mouseover="skill.setSkill('Laravel')" width="50" height="50"></span>
    <span class="devicons devicons-mysql" ng-mouseover="skill.setSkill('MySQL')" width="50" height="50"></span>
    <span class="devicons devicons-nodejs_small" ng-mouseover="skill.setSkill('Node.js')" width="50" height="50"></span>
    <span class="devicons devicons-npm" ng-mouseover="skill.setSkill('NPM')" width="50" height="50"></span>
    <span class="devicons devicons-bower" ng-mouseover="skill.setSkill('Bower')" width="50" height="50"></span>
    <span class="devicons devicons-grunt" ng-mouseover="skill.setSkill('Grunt')" width="50" height="50"></span>
    <span class="devicons devicons-linux" ng-mouseover="skill.setSkill('Linux')" width="50" height="50"></span>
    <span class="devicons devicons-windows" ng-mouseover="skill.setSkill('Windows')" width="50" height="50"></span>
    <div class="title">{{skill.name}}</div>
</div>