<div id="center-body">
<div class="title">My tools for success<br/><span class="devicons devicons-code" style="font-size: 2em;"></span></div>
<div class="description">
    <div class="tech-section"><div class="technology"><span class="devicons devicons-javascript"></span> Javascript</div>
        <div class="tech-description">I've been working with javascript for many years now now and love doing front-end web development with it.<br/>
            <span class="devicons devicons-jquery"></span>I develop a majority of my projects in <span class="buzz">JQuery</span> because of the ease of use that it brings to DOM manipulation.<br/>
            <span class="devicons devicons-backbone"></span> When it comes to having a great <span class="buzz">MVC model</span> front end and keeping maintainable <span class="buzz">object-oriented</span> code I prefer the <span class="buzz">Backbone Framework</span></div></div>


    <div class="tech-section"><div class="technology"><span class="devicons devicons-php"></span> PHP</div>
        <div class="tech-description">For my server side code I prefer php. It's well documented apis, object oriented design and open source BSD-style license makes it's my server side
            language of choice.<br/>
            <span class="devicons devicons-laravel"></span><span class="buzz">Laravel</span> is one of my <span class="buzz">MVC frameworks</span> of choice,
            due to it's massive community and well documented apis.<br/><br/>
            More commonly however I use the <span class="buzz">Phalcon</span> MVC framework due to it's #1 server performance speed. Being compiled as a C extension
            you can't find a faster full functioned MVC framework.</div></div>


    <div class="tech-section"><div class="technology"><span class="devicons devicons-css3"></span> CSS</div>
        <div class="tech-description">It goes without saying that you'd need CSS in your webpage. Something that deserves more attention however,
            is well done 60fps animations that work perfectly with the <span class="buzz">critical rendering path</span>. And don't even get me started
            on web pages that don't properly follow modern<span class="buzz"> UI/UX standards</span> or don't have proper <span class="buzz">mobile compatibility</span>.</div></div>
    <div class="tech-section"><div class="technology"><span class="devicons devicons-mysql"></span> mysql</div>
        <div class="tech-description">A short bit about how much I love that sweet javascripting language.</div></div>
    <div class="tech-section"><div class="technology"><span class="devicons devicons-grunt"></span> grunt</div>
        <div class="tech-description">A short bit about how much I love that sweet javascripting language.</div></div>
    <div class="tech-section"><div class="technology"><span class="devicons devicons-bower"></span> bower</div>
        <div class="tech-description">A short bit about how much I love that sweet javascripting language.</div></div>
    <div class="tech-section"><div class="technology"><span class="devicons devicons-nodejs_small"></span> Node.js</div>
        <div class="tech-description">A short bit about how much I love that sweet javascripting language.</div></div>
</div>
    </div>